<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Style de vie</title>
    <!--css custom file link-->
    <link rel="stylesheet" href="style.css">
    <!---Fontawesome CDN link----->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="{{ asset("bundles/app/css/login_style.css") }}"/>
</head>
<body>

    <img class="wave" src="{{ asset('img/wave.png') }}">
    <div class="container">
      <div class="img">
        <img src="{{ asset('img/bg.svg') }}">
      </div>
      <div class="login-content">
        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
          <img src="{{ asset('img/logo.png') }}">
          <h2 class="title">Style de vie</h2>
          <p style="margin-bottom: 20px;font-weight: 600;" class="login-box-msg">Mot de passe oublié?</p>
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-user"></i>
            </div>
            <div class="div">
              <h5>{{ 'resetting.request.username'|trans({},'FOSUserBundle') }}</h5>
              <input type="text" id="username" name="username" required="required" class="input">
            </div>
          </div>
          <a href="{{ path("fos_user_security_login") }}">Connectez-vous!</a>
          <button class="btn" type="submit">{{ 'resetting.request.submit'|trans({},'FOSUserBundle') }}</button>
        </form>
      </div>
    </div>
<script>
const inputs = document.querySelectorAll(".input");

function addcl() {
  let parent = this.parentNode.parentNode;
  parent.classList.add("focus");
}

function remcl() {
  let parent = this.parentNode.parentNode;
  if (this.value == "") {
    parent.classList.remove("focus");
  }
}

inputs.forEach((input) => {
  input.addEventListener("focus", addcl);
  input.addEventListener("blur", remcl);
});

if(document.getElementById('username').value){ document.getElementById('username').parentNode.parentNode.classList.add("focus");}
</script>
</body>
</html>
